@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/fonts-family/open_sans/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/fonts-family/open_sans/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/fonts-family/open_sans/opensans-regular_0-webfont.woff2') format('woff2'),
         url('../fonts/fonts-family/open_sans/opensans-regular_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/fonts-family/open_sans/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/fonts-family/open_sans/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/fonts-family/open_sans/opensans-bold_0-webfont.woff2') format('woff2'),
         url('../fonts/fonts-family/open_sans/opensans-bold_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/fonts-family/open_sans/opensans-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/fonts-family/open_sans/opensans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

